body {
    background-color: mediumpurple;
    margin:0px;
}
.poop {
    color: aqua;
}


header {
   
    margin-bottom: 0px;
    background-color: beige;
    display: flex;
    justify-content:flex-start;
    
}

header img {
    height: 200px;
    width: 400px;
}
header h1{
    float:right;
    padding-top: 5%;

}

nav {
    height: 50px;
    border: 3px;
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

nav a {
    float: right;
    display: flex;
    color: red;
    padding-right: 3%;
    padding-top: 1%;
    text-align: left;
    font-size: large;
    text-decoration: none;
}

.an_temp_box{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.temp_box{
    background-color: aqua;
    text-align: justify;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 530px;
}

.temp_box .fst{
    padding: 3%;
    display: inline-block;
    min-width: 500px;
    font-family:'Tahoma';
}

.temp_box .snd{
    padding: 7%;
    min-width: 500px;
    margin-left: 7px;
    display: inline-block;
    overflow-y: scroll;
    scrollbar-width: none;
}

.temp_box .trd {
    padding: 3%;
    margin-left: 7px;
    min-width: 500px;
    display: inline-block;
}

.temp_box .trd table {
    width: 100%;
    border-collapse: collapse; 
}

.temp_box .trd th,
.temp_box .trd td {
    border: 1px solid black;
    font-size: larger;
    padding: 8px;
}

.formn {
    width: auto;
    height: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
footer{
    background-color: grey;
}
.mySlides {
    display: none;

}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.slideshow-container {
    height: 30%;
    width: 70%;
    margin-left: 10%;
}
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}