*{
    background-color: #03AED2 ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


p{
    color: rgb(255, 255, 255);
    font-size: x-large;
}

li{
    color: white;
    list-style-type:disc;
}

#github_link {
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    font-size: x-large;
    background-image: none;
  }


a:hover{
    color: white;
}
a{
    color: blue;
}


li:hover{
    color: #FEEFAD;
    font-size: xx-large;
}

.my_name{
    text-align: center;
    color: rgb(253, 222, 85);
    font-size: 500%;
}

span{
    text-align: center;
}

table{
    border-collapse: collapse;
    border-color: aliceblue;
    border: 3px solid;
    color: aliceblue;
}

th{
    border: 3px solid;
}

td{
    border: 3px solid;
}

.github{
    text-align: center;
    font-size: larger;
}

h3{
    color: aliceblue;
}

form{
    color: aliceblue;
    background-color: aliceblue;
}

.email{
    color: aliceblue;
    background-color: transparent;
}

.submit{
    background-color: rgb(253, 222, 85);;
    color: black;
    border: none;
    border-radius: 2px;
    padding: 5px;
}

.submit:hover{
    background-color: blue;
    color: bisque;
}

.profile_pic{
    max-width: 25%;
    height: 25%;
    padding: 2%;
    background-color: transparent;
}

.email_form{
    background-color: black;
    display: inline-block;
    width: 20%;
    height: 20%;
    background-color: transparent;
}

.summary{
    display: inline-block;
    width: 60%;
    height: auto;
    overflow: visible;
    background-color: transparent;
}

#sl:link{
    background-color: transparent;
    text-decoration: none;
}

   

#h1_in_blocks{
    color: rgb(161, 114, 114);
    background-color: #FEEFAD;

}

#p_in_blocks{
    background-color: #FEEFAD;
    color: rgb(161, 114, 114);
}



.in_blocks{
    background-color: #FEEFAD;
    display: block;
    color: rgb(0, 0, 0);
    text-align: justify;
    border: 30px solid;
    border-color: #03AED2;
    padding: 5%;
}

.text_style{
    color: aliceblue;
    background-color: transparent;
    border-radius: 2px;
    border: 1px;
    border-color: white;
    border-style: solid;
    font-size: medium;
    padding: 5px;
}

.h1_heads{
    color: aliceblue;
    padding: 5%;
    font-size: 300%;
}

.github_link_button{
    background-color: rgb(253, 222, 85);
    font-size: x-large;
    border: none;
    padding: 2%;
    border-radius: 30px;
    border-color: #03AED2;
}

.github_link_button:hover{
    background-color: blue;
    color: bisque;
}

.my_summary{
    display: flex; 
    background-color:#68D2E8;
    padding: 5%;
    border: 30px solid;
    border-color: #03AED2;

}

.texts{
    background-color: #68D2E8;
    font-size: large;
}

.texts:link{
    background-color: transparent;
}

.info_box{
    overflow: scroll;
    scrollbar-width: none;
    height: 500px;
}

.years{
    font-size: medium;
    background-color: #FEEFAD;
}

h2{
    color:rgb(253, 222, 85);
}

.stay{
    color:rgb(253, 222, 85);
    background-color:transparent;
}

.about_me{
    background-color:#a3ebf9;
    width: 10%;
    height: 10%;
    display: inline-block;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}

.label{
    width:40%;
    display: inline-block;
    text-align: right;
    background-color:#03AED2;
}

.input{
    width:16%;
    display: inline-block;
    text-align: center;
}

.email_form{
    display: inline-block;
}
.submit_button{
    width: 33%;
    display: inline-block;
}

.sstay{
    text-align: center;
}

.an_temp_box{
    display: flex;
    justify-content: center;
}

.temp_box{
    text-align: justify;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 530px;
}

.temp_box .fst{
    padding: 3%;
    display: inline-block;
    min-width: 500px;
}

.temp_box .snd{
    padding: 3%;
    min-width: 500px;
    display: inline-block;
}

.temp_box .trd{
    padding: 3%;
    min-width: 500px;
    display: inline-block;
}